<div class="container">
	<div ng-controller="SemesterIMarksController as semesterIMarksList">
		<h2>SemIExamDetails</h2>
		<table class="table">
			<tr>
				<th>StudentID</th>
				<th>Semester</th>
				<th>ExamYear</th>
				<th>SubjectID</th>
				<th>Internal</th>
				<th>External</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="semimarks in semesterIMarksList.semimarks">
				<td>{{semimarks.student_id}}</td>
				<td>{{semimarks.semester}}</td>
				<td>{{semimarks.exam_year}}</td>
				<td>{{semimarks.sub_id}}</td>
				<td>{{semimarks.internal}}</td>
				<td>{{semimarks.external}}</td>
				<td>{{semimarks.total}}</td>
				<td>{{semimarks.sub_grade}}</td>
			</tr>
		</table>
	</div>
</div>