<div class="container">
	<div ng-controller="SemesterIIIMarksController as semesterIIIMarksList">
		<h2>SemIIIExamDetails</h2>
		<table class="table">
			<tr>
				<th>StudentID</th>
				<th>Semester</th>
				<th>ExamYear</th>
				<th>SubjectID</th>
				<th>Internal</th>
				<th>External</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="semiiimarks in semesterIIIMarksList.semiiimarks">
				<td>{{semiiimarks.student_id}}</td>
				<td>{{semiiimarks.semester}}</td>
				<td>{{semiiimarks.exam_year}}</td>
				<td>{{semiiimarks.sub_id}}</td>
				<td>{{semiiimarks.internal}}</td>
				<td>{{semiiimarks.external}}</td>
				<td>{{semiiimarks.total}}</td>
				<td>{{semiiimarks.sub_grade}}</td>
			</tr>
		</table>
	</div>
</div>