<div class="container">
	<div ng-controller="SemesterIVController as semesterIVMarksList">
		<h2>ExamDetails</h2>
		<table class="table">
			<tr>
				<td>StudentID</td>
				<td>{{subjectmarks.student_id}}</td>
			</tr>
			<tr>
				<th>Semester</th>
				<th colspan="2">{{subjectmarks.semester}}</th>
				<th>ExamYear</th>
				<th colspan="2">{{subjectmarks.exam_year}}</th>
			</tr>
			<tr>
				<th>SubjectID</th>
				<th>Subject</th>
				<th>Internal</th>
				<th>External</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="subjectmark in semesterIVMarksList.subjectmarks">
				<td>{{subjectmarks.sub_id}}</td>
				<td>{{subjectmarks.sub_name}}</td>
				<td>{{subjectmarks.internal}}</td>
				<td>{{subjectmarks.external}}</td>
				<td>{{subjectmarks.total}}</td>
				<td>{{subjectmarks.sub_grade}}</td>
			</tr>
		</table>
	</div>
</div>