<div class="container">
	<div ng-controller="SemesterIVMarksController as semesterIVMarksList">
		<h2>SemIVExamDetails</h2>
			<tr>
				<th>StudentID</th>
				<th>Semester</th>
				<th>ExamYear</th>
				<th>SubjectID</th>
				<th>Internal</th>
				<th>External</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="semivmarks in semesterIVMarksList.semivmarks">
				<td>{{semivmarks.student_id}}</td>
				<td>{{semivmarks.semester}}</td>
				<td>{{semivmarks.exam_year}}</td>
				<td>{{semivmarks.sub_id}}</td>
				<td>{{semivmarks.internal}}</td>
				<td>{{semivmarks.external}}</td>
				<td>{{semivmarks.total}}</td>
				<td>{{semivmarks.sub_grade}}</td>
			</tr>
		</table>
	</div>
</div>