<div class="container">
	<h2>ExamDetails</h2>
	<table class="table">
		<tr>
			<th colspan="3">Semester III</th>
			<th colspan="4">2014</th>
		</tr>
		<tr>
			<th>SubjectID</th>
			<th>Subject</th>
			<th>Internal</th>
			<th>External</th>
			<th>Total</th>
			<th>Grade</th>
			<th>Gpa</th>
		</tr>
		<tr>
			<td>S3CP1</td>
			<td>Computer Programming 1</td>
			<td>20</td>
			<td>60</td>
			<td>80</td>
			<td>O</td>
			<td>7.0</td>
		</tr>
		<tr>
			<td>Grade</td>
			<td colspan="2"><span>O</span></td>
			<td colspan="2"><span>SGPA</span></td>
			<td colspan="2"><span>7.0</span></td>
		</tr>
	</table>
</div>