<div class="container">
	<div ng-controller="SemesterIIMarksController as semesterIIMarksList">
		<h2>SemIIExamDetails</h2>
			<tr>
				<th>StudentID</th>
				<th>Semester</th>
				<th>ExamYear</th>
				<th>SubjectID</th>
				<th>Internal</th>
				<th>External</th>
				<th>Total</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="semiimarks in semesterIIMarksList.semiimarks">
				<td>{{semiimarks.student_id}}</td>
				<td>{{semiimarks.semester}}</td>
				<td>{{semiimarks.exam_year}}</td>
				<td>{{semiimarks.sub_id}}</td>
				<td>{{semiimarks.internal}}</td>
				<td>{{semiimarks.external}}</td>
				<td>{{semiimarks.total}}</td>
				<td>{{semiimarks.sub_grade}}</td>
			</tr>
		</table>
	</div>
</div>