	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="StudentListController as studentList">
					<h2>StudentsDetails</h2> 
					<table class="table">
						<tr>
							<th class="text-right">RollNo</th>
							<th>FirstName</th>
							<th>MiddleName</th>
							<th>LastName</th>
							<th>BirthDate</th>
							<th>YearOfAdmission</th>
							<th>&nbsp;</th>
						</tr>
						<tr ng-repeat="student in studentList.students">
							<td class="text-right"><span>{{student.rollNo}}</span></td>
							<td><span>{{student.firstName}}</span></td>
							<td><span>{{student.middleName}}</span></td>
							<td><span>{{student.lastName}}</span></td>
							<td><span>{{student.birthdate}}</span></td>
							<td><span>{{student.yearOfAdmission}}</span></td>
							<td class="text-right">
								<button class="btn btn-danger" type="button" ng-click="studentList.deleteStudent($index)"><i class="glyphicon glyphicon-remove"></i></button>
								<a class="btn btn-info" type="button" ui-sref="studentReport"  ><i class="glyphicon glyphicon-list-alt"></i> Report Cards</a>
							
							</td>
								
						</tr>
					</table>
					<h2>Add Student</h2>
					<form ng-submit="studentList.addStudent()">
						<table class="table">
							<tr>
								<th class="text-right">RollNo</th>
								<th>FirstName</th>
								<th>MiddleName</th>
								<th>LastName</th>
								<th>BirthDate</th>
								<th>YearOfAdmission</th>
								<th>&nbsp;</th>
							</tr>
							<tr>
								<td><input type="number" ng-model="studentList.rollNo" size="10" placeholder="Enter roll no"></td>
								<td><input type="text" ng-model="studentList.firstName" size="20" placeholder="Enter first name"></td>
								<td><input type="text" ng-model="studentList.middleName" size="20" placeholder="Enter first name"></td>
								<td><input type="text" ng-model="studentList.lastName" size="20" placeholder="Enter last name"></td>
								<td><input type="date" ng-model="studentList.birthdate" size="12"></td>
								<td><input type="number" ng-model="studentList.yearOfAdmission" size="6"></td>
								<td><button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-plus"></i></button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>