	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="SubjectListController as subjectList">
					<h2>SubjectDetails</h2>
					<table class="table">
						<tr>
							<th>SubjectId</th>
							<th>SubjectType</th>
							<th>Semester</th>
							<th>Year</th>
							<th>SubjectName</th>
							<th>Description</th>
							<th>&nbsp;</th>
						</tr>
						<tr ng-repeat="subject in subjectList.subjects">
							<td><span>{{subject.subjectId}}</span></td>
							<td><span>{{subject.subjectType}}</span></td>
							<td><span>{{subject.semester}}</span></td>
							<td><span>{{subject.year}}</span></td>
							<td><span>{{subject.subjectName}}</span></td>
							<td><span>{{subject.description}}</span></td>
							<td class="text-right">
								<button class="btn btn-danger" type="button" ng-click="subjectList.deleteSubject($index)"><i class="glyphicon glyphicon-remove"></i></button>
								<button class="btn btn-info" type="button" ng-click="($index)"><i class="glyphicon glyphicon-pencil"></i></button>
							</td>
						</tr>
					</table>
					<h2>Add Subject</h2>
					<form ng-submit="subjectList.addSubject()">
						<table class="table">
							<tr>
							<th>SubjectId</th>
							<th>SubjectType</th>
							<th>Semester</th>
							<th>Year</th>
							<th>SubjectName</th>
							<th>Description</th>
							<th>&nbsp;</th>
							</tr>
							<tr>
								<td><input type="text" ng-model="subjectList.subjectId" size="10" placeholder="Enter subject id"></td>
								<td><input type="text" ng-model="subjectList.subjectType" size="10" placeholder="Internal or External"></td>
								<td><input type="number" ng-min="1" ng-max="4" ng-model="subjectList.semester" size="10" placeholder="Sem 1,2,3 or 4"></td>
								<td><input type="number" ng-min="1" ng-max="4" ng-model="subjectList.year" size="10" placeholder="Enter year"></td>
								<td><input type="text" ng-model="subjectList.subjectName" size="12" placeholder="Enter subject name"></td>
								<td><input type="text" ng-model="subjectList.description" size="10" placeholder="Enter subject description"></td>
								<td><button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-plus"></i></button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>